{% extends 'base.html.twig' %}

{% block title %}
	HotelHouse !
{% endblock %}

{% block body %}
	<div class="text-center">
		<table class="table table-borderless">
			<thead>
				<tr>
					<th>Qui sommes-nous ?</th>
					<th>Accès</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<span class="fw-bold">Hotel House ***</span> est un établissement touristique à l'atmosphère internationale et un traitement familial de catégorie 3 étoiles.
						Situé à Calella (Barcelone), il est idéal pour des vacances à la plage et permet un accès facile aux principaux centres touristiques de Catalogne: Barcelone. , Montserrat, Girona, le musée Dalí à Figueres, la Costa Brava, etc.
					</td>
					<td rowspan="3">
						<div class="mapouter">
							<div class="gmap_canvas">
								<iframe width="300" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=C/Valldebanador,%2031-37%20%2008370%20Calella%20(Barcelona)&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
								<a href="https://putlocker-is.org"></a><br><style>
									.mapouter {
										position: relative;
										text-align: right;
										height: 300px;
										width: 300px;
									}
								</style>
								<a href="https://www.embedgooglemap.net">google maps embed link</a>
								<style>
									.gmap_canvas {
										overflow: hidden;
										background: none !important;
										height: 300px;
										width: 300px;
									}
								</style>
							</div>
						</div>
					</td>
				</tr>
                <tr>
                    <th>Contact</th>
                </tr>
                <tr>
                    <td>
                        <span class="fw-bold">HOTEL HOUSE</span><br>
                        C/Valldebanador, 31-37<br>
                        08370 Calella (Barcelona)<br>
                        Tel:(+34) 937 691 991<br>
                        Fax: (+34) 937 661 316<br>
                        Email: <a href="mailto:info@hotelhouse.com">info@hotelhouse.com</a>
                    </td>
                </tr>
			</tbody>
			<tfoot>
				<tr class="border-bottom">
					<td class="align-middle">
						{% if app.user %}
							<a href="#" class="btn btn-success">Réserver une table &nbsp;<i class="fa-solid fa-utensils"></i>
							</a>
						{% else %}
							<a href="{{ path('app_login') }}" class="btn btn-success">
								Pour réserver
								<i class="fa-solid fa-moon"></i><br>
								Connectez vous
								<i class="fa-solid fa-arrow-right-to-bracket"></i><br>
							</a>
						{% endif %}
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

{% endblock %}
